/* montserrat-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v31-latin/montserrat-v31-latin-regular.woff2')
    format('woff2');
}

/* montserrat-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-v31-latin/montserrat-v31-latin-600.woff2')
    format('woff2');
}

/* allura-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Allura';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/allura-v23-latin/allura-v23-latin-regular.woff2')
    format('woff2');
}

:root {
  --primary: #ff4646;
  --dark: #181c29;
  --static-white: #fff;
  --content-background: #ecf3f8;
  --tag-purple: #4361ff;
  --tag-pink: #ff43f7;
  --tag-green: #06a44f;
  --primary-10: rgba(255, 70, 70, 0.1);
  --static-white-20: rgba(255, 255, 255, 0.2);
  --static-white-40: rgba(255, 255, 255, 0.4);
  --overlay: rgba(24, 28, 41, 0.8);
}

/* =============== base styles start ================= */
html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* font styles start */
.header_1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.17em;
  text-transform: uppercase;
}

.header_2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

.header_3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.header_4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.paragraph {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 148%;
}

.action_large {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

.action_small {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.caption {
  font-family: 'Allura', cursive;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
}

.slider_text {
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
  font-weight: 600;
  text-transform: uppercase;
}
/* font styles end */

/* all containers styles start */
.wrapper_site {
  margin: 0 auto;
  max-width: 1440px;
}

.wrapper {
  display: flex;
  padding: 60px 8px;
  justify-content: center;
  background: url(../img/img-compressed/img-compressed/bg-snow.png) no-repeat
    center;
  background-size: cover;
}

.container {
  max-width: 1276px;
  width: 100%;
  margin: 0 auto;
}
/* all containers styles end */

/* gifts button style start*/
.gifts_button,
.gifts_button:visited {
  display: inline-block;
  padding: 20px 32px;
  margin-block: 20px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--dark);
  color: var(--static-white);
  transition: all 0.4s ease;
}

.gifts_button:hover {
  background-color: var(--static-white);
  color: var(--dark);
}
/* gifts button style end*/

/* gifts cards style start*/
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 310px;
  border-radius: 20px;
  text-align: start;
  cursor: pointer;
  background: var(--content-background);
  color: var(--dark);
}

.card .title {
  flex: 1;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--static-white);
}

.card .header_4 {
  margin-bottom: 8px;
}

.card .header_3 {
  transition: all 0.4s ease;
}

.card:hover .header_3 {
  color: var(--primary);
}

.card.for_work .header_4 {
  color: var(--tag-purple);
}

.card.for_harmony .header_4 {
  color: var(--tag-green);
}

.card.for_health .header_4 {
  color: var(--tag-pink);
}
/* gifts cards style end*/
/* =============== base styles start ================= */

/* ============= header styles start ================= */
.header {
  padding: 0 8px;
}

.header_content {
  display: flex;
  justify-content: space-between;
  padding-block: 12px;
  align-items: center;
}

.header a,
.header a:visited {
  text-decoration: none;
  color: var(--dark);
  transition: all 0.4s ease;
}

.header_logo a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 20px;
}

.header_nav ul {
  display: flex;
  gap: 8px;
  list-style: none;
}

.header_nav a {
  padding: 12px 20px;
  border-radius: 12px;
}

.header_nav a:not(.link_inactive):hover {
  background: var(--primary-10);
  color: var(--primary);
}

.link_inactive {
  cursor: default;
}

.mobile-nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  flex-direction: column;
}

.nav_btn {
  display: none;
  cursor: pointer;
  border: none;
  background: none;
}

.nav_btn svg {
  width: 40px;
  height: 40px;
  display: block;
}

.nav_btn svg path {
  stroke: var(--dark);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
/* ============= header styles end ================= */

.main {
  background-color: var(--primary);
  border-radius: 20px;
}

/* ============= footer styles start =============== */
.footer .contacts {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 60px;
}

.footer a {
  color: var(--dark);
  text-decoration: none;
}

.footer .contacts a {
  flex: 1;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--content-background);
  transition: color 0.4s ease;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright .social_networks {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.footer .contacts a:hover {
  color: var(--primary);
}

.footer .social_links {
  display: flex;
  gap: 8px;
}

.footer .social_link {
  display: inline-block;
  padding: 8px;
}

.footer .social_link svg {
  display: block;
  width: 24px;
  height: 24px;
  fill: none;
}

.footer .social_link path {
  stroke: #181c29;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke 0.4s ease;
}

.footer .social_link:hover path {
  stroke: var(--primary);
}

.footer .copyright > *:not(:last-child) {
  margin-bottom: 12px;
}
/* ============= footer styles start ================= */

@media (max-width: 1040px) {
  .footer .contacts {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .desktop-nav {
    display: none;
  }

  .nav_btn {
    display: flex;
  }

  .mobile-nav.active {
    display: flex;
  }
}
