/* ===================== hero styles start ===================   */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background:
    url(../img/img-compressed/img-compressed/bg-snow.png) no-repeat,
    url(../img/img-compressed/img-compressed/bg-ball.png) no-repeat;
  background-size: cover, cover;
  background-position: center -40px;
  color: var(--static-white);
}

.hero_content {
  max-width: 426px;
  padding: 60px 0;
  text-align: center;
  margin: 0 auto;
}

.hero_content .caption {
  margin-bottom: 20px;
}
/* ===================== hero styles end ====================== */

/* ==================== about styles start ==================== */
.about .container {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: var(--static-white);
}

.about_content {
  width: 50%;
  padding: 0px 60px;
}

.about_content div {
  max-width: 426px;
  padding: 60px 0;
}

.about_content .caption {
  color: var(--primary);
}

.about_content .item {
  margin-bottom: 20px;
}

.about_img {
  width: 50%;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}

.about_img img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}
/* ==================== about styles end ==================== */

/* ================= slider styles start ==================== */
.slider {
  text-align: center;
  color: var(--static-white);
  overflow: hidden;
}

.slider .caption {
  margin-bottom: 12px;
}

.slider .ticker {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  transition: transform 0.5s;
  
}

.slider .ticker img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.slider .buttons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.slider .buttons button {
  width: 56px;
  height: 56px;
  border-radius: 20px;
  background: none;
  cursor: pointer;
  border: 1px solid var(--static-white-40);
  transition: all 0.4s ease;
}

.slider .buttons path {
  stroke: var(--static-white-40);
  stroke-linecap: round;
  stroke-linejoin: round;
}

.slider .buttons button:active {
  border: 1px solid var(--static-white);
  background: none;
}

.slider .buttons button:active path {
  stroke: var(--static-white);
}

@media (hover: hover) {
  .slider button:hover {
    background-color: var(--static-white);
  }

  .slider button:hover path {
    stroke: var(--primary);
  }
}

.slider .buttons button:disabled {
  pointer-events: none;
} 

.slider .item {
  margin-bottom: 20px;
}
/* ================= slider styles end ==================== */

/* ================= gifts styles start =================== */
.gifts {
  text-align: center;
  color: var(--static-white);
}

.gifts .caption {
  margin-bottom: 12px;
}

.gifts .header_2 {
  margin-bottom: 20px;
}
/* ================= gifts styles end =================== */

/* =============== timer styles start =================== */
.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  background:
    url(../img/img-compressed/img-compressed/bg-snow.png) no-repeat,
    url(../img/img-compressed/img-compressed/bg-forest.png) no-repeat;
  background-size: cover, cover;
  background-position: center 1px;
  color: var(--static-white);
}

.timer .container {
  display: flex;
  padding: 60px 0;
  justify-content: center;
}

.timer_content {
  text-align: center;
  padding: 60px 0;
  max-width: 426px;
}

.timer__new_year {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  padding: 8px 12px 12px;
  border-radius: 20px;
  background: var(--static-white-40);
}

.timer__new_year div {
  width: 80px;
  position: relative;
}

.timer__new_year div:not(:last-child)::after {
  content: '|';
  position: absolute;
  right: -3px;
  top: 25%;
  color: var(--static-white-40);
  font-size: 18px;
}

.timer .caption {
  margin-bottom: 8px;
}
/* =============== timer styles end =================== */

@media (max-width: 700px) {
  .about .container {
    flex-direction: column;
  }

  .about_content {
    width: 100%;
    padding: 0px 20px;
  }

  .about_img {
    width: 100%;
  }

  .about_img img {
    width: auto;
    min-width: 100%;
  }
}
